.row{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    border: 1px solid black;
}
.col{
    width: 30%;
    height: 300px;
    background-color: aqua;
    border: 1px solid black;
    float: left; 
    /* same line aakan*/
    margin-left: 3%;
    margin-top: 40px;


}