body{
    margin: 0;
}
.box{
    width: 30%;
    height: 100px;
    background-color: blueviolet;
    border: 1px solid black;
    
}
nav{
    margin-left: 300px;
    margin-top: 20px;
    padding-left: 70px;
    padding-top: 70px;
    /* margin: 20px; */
}
footer{
    margin-left: 430px;
    margin-top: 500px;
}